<!DOCTYPE html>
<html ng-app="main">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="sc-toggle-switch : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://rawgit.com/Scille/sc-toggle-switch/master/release/sc-toggle-switch.min.css">

    <title>sc-toggle-switch</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/Scille/sc-toggle-switch">View on GitHub</a>

          <h1 id="project_title">sc-toggle-switch</h1>
          <h2 id="project_tagline"></h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/Scille/sc-toggle-switch/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/Scille/sc-toggle-switch/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <h1><a id="scille-toggle-switch-for-angularjs" class="anchor" href="#scille-toggle-switch-for-angularjs" aria-hidden="true"><span class="octicon octicon-link"></span></a>Scille Toggle Switch (for AngularJS)</h1>
        <p>Toggle Switches for AngularJS. This library is created by DUBOIS Romain and maintained by the Scille team.</p>


        <h2><a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h2>

        <h3><a id="registration" class="anchor" href="#registration" aria-hidden="true"><span class="octicon octicon-link"></span></a>Registration</h3>
        <p>To be able to use the directive, you need to register the sc-toggle-switch module as a dependency:</p>
<div class="highlight highlight-source-js"><pre>angular.module(<span class="pl-s"><span class="pl-pds">'</span>yourModule<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>sc-toggle-switch<span class="pl-pds">'</span></span>
    <span class="pl-c">// other dependencies</span>
]);</pre></div>

        <h3><a id="directive" class="anchor" href="#directive" aria-hidden="true"><span class="octicon octicon-link"></span></a>Directive</h3>
        <p>The directive can work on both attribute and element levels.</p>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">is-disabled</span>=<span class="pl-s"><span class="pl-pds">"</span>isDisabled<span class="pl-pds">"</span></span>
    <span class="pl-e">is-summarised</span>=<span class="pl-s"><span class="pl-pds">"</span>isSummarised<span class="pl-pds">"</span></span>
    <span class="pl-e">is-animated</span>=<span class="pl-s"><span class="pl-pds">"</span>isAnimated<span class="pl-pds">"</span></span>
    <span class="pl-e">switch-size</span>=<span class="pl-s"><span class="pl-pds">"{{</span>switchSize<span class="pl-pds">}}"</span></span>
    <span class="pl-e">left-label</span>=<span class="pl-s"><span class="pl-pds">"{{</span>leftLabel<span class="pl-pds">}}"</span></span>
    <span class="pl-e">right-label</span>=<span class="pl-s"><span class="pl-pds">"{{</span>rightLabel<span class="pl-pds">}}"</span></span>
    <span class="pl-e">knob-label</span>=<span class="pl-s"><span class="pl-pds">"{{</span>knobLabel<span class="pl-pds">}}"</span></span>
    <span class="pl-e">left-label-color</span>=<span class="pl-s"><span class="pl-pds">"{{</span>leftLabelColor<span class="pl-pds">}}"</span></span>
    <span class="pl-e">right-label-color</span>=<span class="pl-s"><span class="pl-pds">"{{</span>rightLabelColor<span class="pl-pds">}}"</span></span>
    <span class="pl-e">left-value</span>=<span class="pl-s"><span class="pl-pds">"</span>leftValue<span class="pl-pds">"</span></span>
    <span class="pl-e">right-value</span>=<span class="pl-s"><span class="pl-pds">"</span>rightValue<span class="pl-pds">"</span></span>
    <span class="pl-e">knob-label-color</span>=<span class="pl-s"><span class="pl-pds">"{{</span>knobLabelColor<span class="pl-pds">}}"</span></span>
    <span class="pl-e">border-color</span>=<span class="pl-s"><span class="pl-pds">"{{</span>borderColor<span class="pl-pds">}}"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

        <p><em>Note:</em></p>
        <ul>
          <li>
            <strong>ng-model:</strong> Will try to bind to the property given by evaluating the expression on the current scope. If the property doesn't already exist on this scope, it will be created implicitly and added to the scope.</li>
          <li>
            <strong>is-disabled:</strong> Determines if the switch is disabled or not. </li>
          <li>
            <strong>is-summarised:</strong> Determines if the switch is summarised or not.</li>
          <li>
            <strong>is-animated:</strong> Determines if the switch animates when toggled.</li>
          <li>
            <strong>switch-size:</strong> Sets the size class. It can be <code>xsmall</code>, <code>small</code>, <code>medium</code> (as default), <code>large</code> or <code>xlarge</code>.</li>
          <li>
            <strong>left-label:</strong> Sets the left label text.</li>
          <li>
            <strong>right-label:</strong> Sets the right label text.</li>
          <li>
            <strong>knob-label:</strong> Sets the knob label text.</li>
          <li>
            <strong>left-label-color:</strong> Sets the left label background color.</li>
          <li>
            <strong>right-label-color:</strong> Sets the right label background color.</li>
          <li>
            <strong>left-value:</strong> Sets the left position value. It is <code>true</code> as default.</li>
          <li>
            <strong>right-value:</strong> Sets the right position value. It is <code>false</code> as default.</li>
          <li>
            <strong>knob-label-color:</strong> Sets the knob label background color.</li>
          <li>
            <strong>border-color:</strong> Sets the border color.</li>
        </ul>


        <h2><a id="demonstration" class="anchor" href="#demonstration" aria-hidden="true"><span class="octicon octicon-link"></span></a>Demonstration</h2>
        <p>Switch Value: {{switchModel}}</p>

        <h3><a id="demo_defaut" class="anchor" href="#demo_defaut" aria-hidden="true"><span class="octicon octicon-link"></span></a>Default</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel"></div><br />

        <h3><a id="demo_ltext" class="anchor" href="#demo_ltext" aria-hidden="true"><span class="octicon octicon-link"></span></a>Lables Text</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">left-label</span>=<span class="pl-s"><span class="pl-pds">"</span>Yes<span class="pl-pds">"</span></span>
    <span class="pl-e">right-label</span>=<span class="pl-s"><span class="pl-pds">"</span>No<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel" left-label="Yes" right-label="No"></div><br />

        <h3><a id="demo_ktext" class="anchor" href="#demo_ktext" aria-hidden="true"><span class="octicon octicon-link"></span></a>Knob Text</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">knob-label</span>=<span class="pl-s"><span class="pl-pds">"</span>TV<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel" knob-label="TV"></div><br />

        <h3><a id="demo_size" class="anchor" href="#demo_size" aria-hidden="true"><span class="octicon octicon-link"></span></a>Sizes</h3>
<div class="highlight highlight-text-html-basic">
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">switch-size</span>=<span class="pl-s"><span class="pl-pds">"</span>xsmall<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre>
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">switch-size</span>=<span class="pl-s"><span class="pl-pds">"</span>small<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre>
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">switch-size</span>=<span class="pl-s"><span class="pl-pds">"</span>medium<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre>
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">switch-size</span>=<span class="pl-s"><span class="pl-pds">"</span>large<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre>
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">switch-size</span>=<span class="pl-s"><span class="pl-pds">"</span>xlarge<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre>
</div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel" switch-size="xsmall"></div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel" switch-size="small"></div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel" switch-size="medium"></div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel" switch-size="large"></div>
        <br /><div sc-toggle-switch-directive ng-model="switchModel" switch-size="xlarge"></div><br />

        <h3><a id="demo_resize" class="anchor" href="#demo_resize" aria-hidden="true"><span class="octicon octicon-link"></span></a>Resize</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">left-label</span>=<span class="pl-s"><span class="pl-pds">"</span>{{leftLabel}}<span class="pl-pds">"</span></span>
    <span class="pl-e">knob-label</span>=<span class="pl-s"><span class="pl-pds">"</span>{{knobLabel}}<span class="pl-pds">"</span></span>
    <span class="pl-e">right-label</span>=<span class="pl-s"><span class="pl-pds">"</span>{{rightLabel}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <div ng-init="leftLabel = 'On'; knobLabel = 'TV'; rightLabel='Off'">
          <br />
          <div>
            <label>leftLabel:</label><input type="text" name="left label" ng-model="leftLabel"><br />
            <label>knobLabel:</label><input type="text" name="knob" ng-model="knobLabel"><br />
            <label>rightLabel:</label><input type="text" name="right label" ng-model="rightLabel">
          </div><br />
          <div sc-toggle-switch-directive ng-model="switchModel" left-label="{{leftLabel}}" knob-label="{{knobLabel}}" right-label="{{rightLabel}}"></div>
        </div><br />

        <h3><a id="demo_color" class="anchor" href="#demo_color" aria-hidden="true"><span class="octicon octicon-link"></span></a>Colors</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">border-color</span>=<span class="pl-s"><span class="pl-pds">"</span>{{borderColor}}<span class="pl-pds">"</span></span>
    <span class="pl-e">left-label-color</span>=<span class="pl-s"><span class="pl-pds">"</span>{{leftLabelColor}}<span class="pl-pds">"</span></span>
    <span class="pl-e">knob-label-color</span>=<span class="pl-s"><span class="pl-pds">"</span>{{knobLabelColor}}<span class="pl-pds">"</span></span>
    <span class="pl-e">right-label-color</span>=<span class="pl-s"><span class="pl-pds">"</span>{{rightLabelColor}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <div ng-init="borderColor = 'gray'; leftLabelColor = 'blue'; knobLabelColor = 'white'; rightLabelColor='red'">
          <br />
          <div>
            <label>borderColor:</label><input type="text" name="border color" ng-model="borderColor"><br />
            <label>leftLabelColor:</label><input type="text" name="left label color" ng-model="leftLabelColor"><br />
            <label>knobLabelColor:</label><input type="text" name="knob label color" ng-model="knobLabelColor"><br />
            <label>rightLabelColor:</label><input type="text" name="right label color" ng-model="rightLabelColor">
          </div><br />
          <div sc-toggle-switch-directive ng-model="switchModel" border-color="{{borderColor}}" left-label-color="{{leftLabelColor}}" knob-label-color="{{knobLabelColor}}" right-label-color="{{rightLabelColor}}" ></div>
        </div><br />

        <h3><a id="demo_animate" class="anchor" href="#demo_animate" aria-hidden="true"><span class="octicon octicon-link"></span></a>Animate</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">is-animated</span>=<span class="pl-s"><span class="pl-pds">"</span>{{isAnimated}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <div ng-init="isAnimated = true">
          <br />
          <button ng-click="isAnimated = !isAnimated">Click me</button>
          <p>isAnimated: {{isAnimated}}</p>
          <div sc-toggle-switch-directive ng-model="switchModel" is-animated="isAnimated"></div>
        </div><br />

        <h3><a id="demo_disabled" class="anchor" href="#demo_disabled" aria-hidden="true"><span class="octicon octicon-link"></span></a>Disabled</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">is-disabled</span>=<span class="pl-s"><span class="pl-pds">"</span>{{isDisabled}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <div ng-init="isDisabled = true">
          <br />
          <button ng-click="isDisabled = !isDisabled">Click me</button>
          <p>isDisabled: {{isDisabled}}</p>
          <div sc-toggle-switch-directive ng-model="switchModel" is-disabled="isDisabled" ></div>
        </div><br />

        <h3><a id="demo_summarize" class="anchor" href="#demo_summarize" aria-hidden="true"><span class="octicon octicon-link"></span></a>Summarize</h3>
<div class="highlight highlight-text-html-basic">
  <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">is-summarised</span>=<span class="pl-s"><span class="pl-pds">"</span>{{isSummarised}}<span class="pl-pds">"</span></span>
    <span class="pl-e">knob-label</span>=<span class="pl-s"><span class="pl-pds">"</span>TV<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre>
   <pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModel<span class="pl-pds">"</span></span>
    <span class="pl-e">is-summarised</span>=<span class="pl-s"><span class="pl-pds">"</span>{{isSummarised}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre>
</div>
        <div ng-init="isSummarised = false">
          <br />
          <button ng-click="isSummarised = !isSummarised">Click me</button>
          <p>isSummarised: {{isSummarised}}</p>
          <div sc-toggle-switch-directive ng-model="switchModel" is-summarised="isSummarised" knob-label="TV"></div>
          <br />
          <label>TV</label>
          <div sc-toggle-switch-directive ng-model="switchModel" is-summarised="isSummarised"></div>
        </div><br />

        <h3><a id="demo_lvalue" class="anchor" href="#demo_lvalue" aria-hidden="true"><span class="octicon octicon-link"></span></a>Labels Value</h3>
<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">sc-toggle-switch-directive</span>
    <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>switchModelValue<span class="pl-pds">"</span></span>
    <span class="pl-e">left-value</span>=<span class="pl-s"><span class="pl-pds">"</span>{{leftValue}}<span class="pl-pds">"</span></span>
    <span class="pl-e">right-value</span>=<span class="pl-s"><span class="pl-pds">"</span>{{rightValue}}<span class="pl-pds">"</span></span>&gt;
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
        <p>switchModelValue: {{switchModelValue}}</p>
        <div ng-init="leftValue = true; rightValue = false">
          <div>
            <label>leftValue:</label><input type="text" name="left value" ng-model="leftValue"><br />
            <label>rightValue:</label><input type="text" name="right value" ng-model="rightValue">
          </div><br />
          <div sc-toggle-switch-directive ng-model="switchModelValue" left-value="leftValue" right-value="rightValue"></div>
        </div>


        <h2><a id="contributors" class="anchor" href="#contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Contributors</h2>
        <p>DUBOIS Romain, Engineer R&amp;D at <a href="http://scille.eu/">SCILLE</a>
        <a href="mailto:romain.dubois@scille.fr">romain.dubois@scille.fr</a></p>
        <p>MEZINO Vincent, Engineer R&amp;D at <a href="http://scille.eu">SCILLE</a>
        <a href="mailto:vincent.mezino@scille.fr">vincent.mezino@scille.fr</a></p>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">sc-toggle-switch maintained by <a href="https://github.com/Scille">Scille</a></p>
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <script type="text/javascript" src="javascripts/main.js"></script>
    <script type="text/javascript" src="https://rawgit.com/Scille/sc-toggle-switch/master/release/sc-toggle-switch.min.js"></script>

  </body>
</html>
