// IMPORT
// --------------------------------------

@import "./default.less";



// CSS
// --------------------------------------

.toggle-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  text-align: left;
  overflow: hidden;
  vertical-align: middle;
  min-width: 60px;
  .Unselectable();
  .Transition(~"box-shadow ease-in-out .20s");

  // When we mouse over toggle-switch
  &:hover {
    .BoxShadow (~"1px 1px 1px @{gray}");
  }

  // Specific toggle-switch disabled
  &.disabled {
    .Opacity(.5);
  }
  // [END] Specific toggle-switch disabled

  // Specific toggle-switch size
  &.switch-xsmall {
    .ToggleSwitchSize(60px, 2px, 11px, 15px, 20px);
  }

  &.switch-small {
    .ToggleSwitchSize(80px, 3px, 12px, 18px, 24px);
  }

  &.switch-medium {
    .ToggleSwitchSize(100px, 6px, 14px, 20px, 28px);
  }

  &.switch-large {
    .ToggleSwitchSize(120px, 9px, 16px, 22px, 32px);
  }

  &.switch-xlarge {
    .ToggleSwitchSize(140px, 12px, 18px, 31px, 36px);
  }
  // [End] Specific toggle-switch size

  span {
    display: inline-block;
    cursor: pointer;
    float: left;
    width: 33%;
    padding: 4px;
    text-align: center;
    white-space: nowrap;
    .BoxSizing(~"border-box");
  }

  > div {
    position: relative;
    width: 150%;
  }

  // toggle-switch animation
  .switch-animate {
    .Transition(~"left ease-in-out .20s");
  }
  // [END] toggle-switch animation

  // Specific toggle-switch status
  .switch-on {
    left: 0%;
  }

  .switch-off {
    left: -50%;
  }

  .switch-undef {
    left: -25%;
  }
  // [End] Specific toggle-switch size

  // Default toggle-switch render
  .switch-knob {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    width: 34%;
  }

  .switch-left,
  .switch-right {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    font-weight: bold;
  }
  // [End] Default toggle-switch render
}

.toggle-switch-summarize {
  display: inline-block;
  min-width: 60px;
  .Unselectable();

  span {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid;
    border-color: @gray-light;
    padding: 4px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    .BoxSizing(~"border-box");
  }

  // Specific toggle-switch-summarize size
  &.switch-xsmall {
    .ToggleSwitchSize(60px, 2px, 11px, 15px, 20px);
  }

  &.switch-small {
    .ToggleSwitchSize(80px, 3px, 12px, 18px, 24px);
  }

  &.switch-medium {
    .ToggleSwitchSize(100px, 6px, 14px, 20px, 28px);
  }

  &.switch-large {
    .ToggleSwitchSize(120px, 9px, 16px, 22px, 32px);
  }

  &.switch-xlarge {
    .ToggleSwitchSize(140px, 12px, 18px, 31px, 36px);
  }
  // [End] Specific toggle-switch size

  // Default toggle-switch render
  .switch-knob {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
  }

  .switch-left,
  .switch-right {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    font-weight: bold;
  }
  // [End] Default toggle-switch render
}
