<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Toggle Switch Example</title>

  <!-- bower:css -->
  <!-- endbower -->

  <link href="css/toggle_switch.css" media="all" rel="stylesheet" type="text/css">
</head>

<body>

  <h1>Toggle Switch Example</h1>

  <h2>Default</h2>
  <div toggle-switch-directive ng-model="switchStatus"></div>

  <h2>Text</h2>
  <div toggle-switch-directive ng-model="switchStatus" on-label="Yes" of-label="No"></div>

  <h2>Knob Text</h2>
  <div toggle-switch-directive ng-model="switchStatus" knob-label="Show"></div>

  <h2>Sizes</h2>
  <div toggle-switch-directive switch-size="xsmall" ng-model="switchStatus"></div></br>
  <div toggle-switch-directive switch-size="small" ng-model="switchStatus"></div></br>
  <div toggle-switch-directive switch-size="medium" ng-model="switchStatus"></div></br>
  <div toggle-switch-directive switch-size="large" ng-model="switchStatus"></div></br>
  <div toggle-switch-directive switch-size="xlarge" ng-model="switchStatus"></div>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->

  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="scripts/toggle_switch.js"></script>
</body>
</html>
