<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Toggle Switch Example</title>

  <!-- bower:css -->
  <!-- endbower -->

  <link href="css/toggle_switch.css" media="all" rel="stylesheet" type="text/css">
</head>

<body>

  <h1>Toggle Switch Example</h1>

  <h2>Usage</h2>
  <p>Switch Value: {{switchModel}}</p>

  <h2>Default</h2>
  <div toggle-switch-directive ng-model="switchModel"></div>

  <h2>Text</h2>
  <div toggle-switch-directive ng-model="switchModel" left-label="Yes" right-label="No"></div>

  <h2>Knob Text</h2>
  <div toggle-switch-directive ng-model="switchModel" knob-label="TV"></div>

  <h2>Sizes</h2>
  <span toggle-switch-directive switch-size="xsmall" ng-model="switchModel"></span>
  <span toggle-switch-directive switch-size="small" ng-model="switchModel"></span>
  <span toggle-switch-directive switch-size="medium" ng-model="switchModel"></span>
  <span toggle-switch-directive switch-size="large" ng-model="switchModel"></span>
  <span toggle-switch-directive switch-size="xlarge" ng-model="switchModel"></span>

  <h2>Resize labels</h2>
  <div ng-init="leftLabel = 'On'; knobLabel = 'TV'; rightLabel='Off'">
    <div>
      <input type="text" name="left label" ng-model="leftLabel">
      <input type="text" name="knob" ng-model="knobLabel">
      <input type="text" name="right label" ng-model="rightLabel">
    </div></br>
    <div toggle-switch-directive ng-model="switchModel" left-label="{{leftLabel}}" knob-label="{{knobLabel}}" right-label="{{rightLabel}}"></div>
  </div>

  <h2>Colors</h2>
  <div ng-init="borderColor = 'gray'; leftColor = 'blue'; knobColor = 'white'; rightColor='red'">
    <div>
      <h4>Border Color</h4>
      <input type="text" name="border color" ng-model="borderColor">
    </div>
    <div>
      <h4>Labels Color</h4>
      <input type="text" name="left label color" ng-model="leftColor">
      <input type="text" name="knob label color" ng-model="knobColor">
      <input type="text" name="right label color" ng-model="rightColor">
    </div></br>
    <div toggle-switch-directive ng-model="switchModel" border-color="{{borderColor}}" left-label-color="{{leftColor}}" knob-label-color="{{knobColor}}" right-label-color="{{rightColor}}" ></div>
  </div>

  <h2>Disabled</h2>
  <div ng-init="disabled = true">
    <button ng-click="disabled = !disabled">Click me</button>
    <p>Disabled toggle-switch: {{disabled}}</p>
    <div toggle-switch-directive is-disabled="disabled" ng-model="switchModel"></div>
  </div>

  <h2>Summarize</h2>
  <div ng-init="summarize = false">
    <button ng-click="summarize = !summarize">Click me</button>
    <p>Summarize toggle-switch: {{summarize}}</p>
    <div toggle-switch-directive is-summarize="summarize" ng-model="switchModel" knob-label="TV"></div>
  </div>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->

  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="scripts/toggle_switch.js"></script>
</body>
</html>
